.button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #0d6efd;
  border-color: #0d6efd;
}

.scrollTopBtn {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 45px;
  height: 45px;
}

.menuBtn {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
}

.menuBtn svg {
  vertical-align: middle;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }

  .menuBtn:hover svg path {
    stroke: #fff;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .menuBtn {
    position: fixed;
    top: unset;
    bottom: 50px;
    left: 10px;
    width: 45px;
    height: 45px;
  }
}
